* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    background: linear-gradient(to right, #1587ce, #16cec2);
}

.lista {
    width: 100%;
    max-width: 540px;
    background: white;
    padding: 40px 30px 70px;
    margin: 150px auto 20px;
    border-radius: 30px;
    box-shadow: 0 0 50px #3c3737;
}

h2 {
    color: #0a6ba8;
    display: flex;
    align-items: center;
    font-size: 30px;
    margin-bottom: 50px;
    position: relative;
}

h2 img {
    width: 110px;
    position: absolute;
    right: 0px;
    margin-top: 5%;
}

.input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    outline: 3px groove black;
    outline-offset: 5p;
    border: none;
    border-radius: 30px;
    margin-bottom: 20px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
}

input::placeholder {
    color: #0a6ba891;
}

button {
    cursor: pointer;
    border: none;
    border-radius: 30px;
    outline: none;
    padding: 15px 25px;
    background: #16cec2;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

ul li {
    list-style: none;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 500px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    position: relative;
    margin-block: 10px;
}

ul li::before {
    content: '';
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: url(imagens/radio-button-unchecked-icon.png);
    background-size: cover;
    position: center;
    top: 8px;
    left: 8px; 
}

ul li.marcado {
    background: #16cec2;
    color: white;
    border-radius: 50px;
}

ul li.marcado::before {
    background: url(imagens/radio-button-checked-icon.png);
    background-size: cover;
}

ul li span {
    position: absolute;
    top: 10px;
    right: 0px;
    margin-right: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 22px;
    color: black;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover {
    background-color: #16cec2;
    color: white;
}

ul li.marcado span {
    color: white;
}

ul li.marcado span:hover {
    background: white;
    color: black;
}